body{
    font-family: 'Nunito', sans-serif;
}

* {
    padding: 0;
    margin: 0
}
#footer {
    position: fixed;
    color: #9a9a9a;
    z-index: 10;
    font-size: 9pt;
    left: 5px;
    bottom: 1px;
    pointer-events: none;
}

#summary{
    position: fixed;
    color: #9a9a9a;
    z-index: 10;
    font-size: 10pt;
    left: 5px;
    top: 1px;
    pointer-events: none;
}

.system-name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17pt;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.credits, .pvp{
    vertical-align: super;
}

#buffs{
    z-index: 10;
    position: fixed;
    right: 0;
    color: white;
}

#buffs > .buff{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-size: 9pt;
}

#ui{
    display: block;
    width: 75%;
    height: 75%;
    position: absolute;
    background: red;
    z-index: 10;
    top: 12.5%;
    left: 12.5%;
    background: rgba(1, 19, 18, 0.9);
    border: 1px solid #097EBF;
    border-radius: 3px;
}

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito', sans-serif;
*/
