* {
    padding: 0;
    margin: 0
}
#footer {
    position: fixed;
    color: #9a9a9a;
    z-index: 10;
    font-size: 9pt;
    font-family: sans-serif;
    left: 5px;
    bottom: 1px;
    pointer-events: none;
}

#summary{
    position: fixed;
    color: #9a9a9a;
    z-index: 10;
    font-size: 9pt;
    font-family: sans-serif;
    left: 5px;
    top: 1px;
    pointer-events: none;
}
