section[data-id="menu"]{
    width: 48px;
    height: 100%;
    position: absolute;
    border-right: 1px solid rgba(9, 126, 191, 0.29);
    padding: 5px 0;
}

.menu-item{
    opacity: 0.25;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

.menu-item:hover{
    opacity: 1;
}

.menu-item.selected{
    opacity: 1;
}

section[data-id="cargo"]{
    margin-left: 50px;
    color: white;
    padding: 5px;
}

section[data-id="cargo"] .rigs{
    text-align: center;
}

section[data-id="cargo"] .rig{
    width: 96px;
    border: 1px dashed gray;
    padding: 5px;
    display: inline-block;
    text-align: center;
    background: rgba(1, 19, 18, 0.9);
    border-radius: 3px;
    cursor: default;

    -webkit-user-select: none;
    user-select: none;
}

section[data-id="cargo"] .rig:hover{
    background: #4c4c6c;
}

section[data-id="cargo"] .rig.equipped{
    border: 1px solid;
}

section[data-id="cargo"] .rig *{
    vertical-align: middle;
}

section[data-id="cargo"] .plugger{
    cursor: pointer;
}
